<div class="bg-white sticky top-0 w-full py-2.5 z-50">
    <div class="max-w-7x1 mx-auto flex justify-between items-center">
        <a href="/">
            <img src="https://via.placeholder.com/120x50" alt="logo" title="logo">
        </a>
        <div class="basis-3/4">
            <ul class="flex justify-around">
                <li><a href="/list">리스트</a></li>
                <li><a href="/about">소개</a></li>
            </ul>
        </div>
    </div>
</div>