<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- get과 post의 차이를 검색해 볼 것! -->
    <!-- 

    method 
    get(받기)
    post(보내기)
    put(업데이트) 
    delete(삭제)

    하지만 이 중에서 get과 post를 쓸 수 있다.

    다른 라이브러리 등으로 put과 delete를 활용한다.

    action은 어딘가로 데이터를 보낼 때 사용하는 것.

    -->
    <!-- form 태그를 작성할 때, name을 꼭! 작성해야 데이터가 넘어간다 -->
    <form action="/register" method="post">
        <h3>회원가입</h3>
        <input type="text" name="userid">
        <input type="password" name="password">
        <button type="submit">가입</button>
    </form>
</body>
</html>