<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
</head>
<body>
    
    <%- include('nav.ejs') %>

    <ul class="flex justify-between items-center border">
      <li class="basis-2/4"><%= data.title %></li>
      <li class="basis-2/4"><%= data.content %></li>
    </ul>
    <a href="/list">목록</a>
    
</body>
</html>